.bg-main{
background-image:url("https://img.freepik.com/free-photo/fast-food-dish-blue_155003-27518.jpg?size=626&ext=jpg&uid=R95643881&ga=GA1.2.530253296.1673866426&semt=ais");
background-repeat: no-repeat;
background-size: cover;
background-position: fixed;
height: 100%;
}