.bg-burger{
    background-image:url("https://img.freepik.com/free-psd/empty-room-wall-mockup-psd-modern-interior-design_53876-129121.jpg?w=1380&t=st=1679921065~exp=1679921665~hmac=1b0ee7aea2f11afee355e7707517d93328aaa73d4b4ccae63d4778ec812a454e");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    height: 100%;
    }

    
@media only screen and (max-width: 768px) {
    .bg-burger{
      background-size: cover;
      background-position: fixed;
      height: 100%;
    }
  }
    