.bg-burger{
    background-image:url("https://img.freepik.com/free-vector/restaurant-mural-wallpaper_23-2148706001.jpg?size=626&ext=jpg&uid=R95643881&ga=GA1.2.530253296.1673866426&semt=ais");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    height: 100%;
    }

    
@media only screen and (max-width: 768px) {
    .bg-burger{
      background-size: cover;
      background-position: fixed;
      height: 100%;
    }
  }
    