.bg-burger{
    background-image:url("https://img.freepik.com/free-vector/panorama-foggy-morning-horizontal-blurred-background-with-trees-vector-abstract-landscape_105738-1682.jpg?w=1380&t=st=1679769507~exp=1679770107~hmac=f54d664815824138f89bdb0b110d0872f513eafdfea7b2b987b255015df3faa1");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    height: 100%;
    }

    
@media only screen and (max-width: 768px) {
    .bg-burger{
      background-size: cover;
      background-position: fixed;
      height: 100%;
    }
  }
    