.bg-pizza{
    background-image:url("https://img.freepik.com/free-photo/top-view-pizza-with-red-pepper-tomato-sauce-with-copy-space_23-2148765350.jpg?w=1060&t=st=1679826738~exp=1679827338~hmac=943fe1d9d4c851e789c4dd53fb7443da3308d9b382b85c27411797ba8f456b62");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    height: 100%;
    }

    
@media only screen and (max-width: 768px) {
    .bg-pizza{
      background-size: cover;
      background-position: fixed;
      height: 100%;
    }
  }
    